@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flexbox;
    width: 100vw;
    width: 100dvw;
    height: 15rem;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
    background-image: linear-gradient(to right, #595cff, #c6f8ff);
    position: relative;
}

.converter{
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
}

.converter-box{
    position: absolute;
    left: 15%;
    top: 20%;

    display: flex;
    width: 20rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(93, 93, 93,0.1);
}

.converter-item{
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.converter-item *{
    width: 100%;
}

.converter-box h3{
    padding: 1rem;
    padding-bottom: 0;
}

.converter-item input{
    border: 1px solid #282828;
    border-radius: 5px;
    padding: 10px;

    font-size: 1rem;
}

@media screen and (max-width:600px) {
    .converter-box{
        position: absolute;
        right: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 50%;
    }
}